.welcomeMessage {
    position: absolute;
    top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 0.6s ease;
}

.animateHide {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 0.8s ease;
}
