.updateNoteContainer {
    top: 10vh;
    left: 0;
    right: 0;
    padding: 1em;
    /* opacity: 0; */
    /* visibility: hidden; */
    background-image: linear-gradient( 100.5deg, #6E6D8F 17.7%, #948081 76.1%);
    border-radius: 7px;
    /* transform-style: preserve-3d; */
    /* transform: perspective(106px) rotateX(4deg) scale(0.9); */
    /* transform-origin: bottom center; */
    /* transition: 0.5s ease, 0s z-index; */
    /* z-index: -1; */
}

.updateNoteContainer.visible {
    /* visibility: visible;
    opacity: 1;
    transform: perspective(106px) rotateX(0deg) scale(1);
    z-index: 20; */
}

.updateNoteContainerInner {
    transition: 0.5s ease;
}

.updateNoteContainerInner.hidden {
    /* transform: scale(0.9);
    opacity: 0; */
}